@{
    ViewData["Title"] = "Add Page";
}

@model Candy

<h2>Add Candy</h2>
<p></p>

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Ship To</h4>

    <input type="hidden" asp-for="CandyId" />

    <div class="form-group">
        <label asp-for="Title">Title:</label><input asp-for="Title" class="form-control" />
    </div>

    <h4>Address</h4>

    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Publisher">Publisher:</label>
        <input asp-for="Publisher" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Isbn">Isbn:</label>
        <input asp-for="Isbn" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Classification">Classification:</label>
        <input asp-for="Classification" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">--Select a Category--</option>
            @foreach (Category c in ViewBag.cats)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PageCount">PageCount:</label>
        <input asp-for="PageCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>

    @*<div class="checkbox">
        <label>
            <input asp-for="Anonymous" /> Donate Anonymously
        </label>
    </div>*@

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>

</form>

